
# artifacts
__pycache__
.pytest*
*.pyc
*.egg-info
*/build/*
*/dist/*

# environment
*/venv/*
*/.venv/*


# misc
.coverage
.vscode
coverage.xml
.ruff_cache
.DS_Store
.idea

# Home Assistant configuration
config/*
!config/configuration.yaml
